@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Marcellus&display=swap');

/* * {border:1px solid red} */

@layer base {
  h1 {
    @apply text-6xl;
    @apply md:text-9xl;
    @apply font-display;
  }
  h2 {
    @apply text-4xl;
    @apply text-center;
    @apply md:text-left;
    @apply md:text-6xl;
    @apply 2xl:text-8xl;
    @apply font-display;
  }
  p {
    @apply font-body;
    @apply text-center;
    @apply md:text-left;
    @apply text-xs;
    @apply sm:text-base;
    @apply 2xl:text-xl;
  }
}

@layer utilities {
  .bg-ubc {
    background-image: url('./media/ubc.jpg');
  }
  .bg-seabc {
    background-image: url('./media/seabc.jpg');
  }
  .bg-cmolik {
    background-image: url('./media/cmolik.jpg');
  }
  .bg-eq {
    background-image: url('./media/eq.jpg');
  }
  .bg-ubc2 {
    background-image: url('./media/ubc2.jpg');
  }
  .experience-tiles {
    flex: 1;
    height: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: none;
    transition: all 0.8s ease;
  }
}